<div class="wrapper">
    <!-- ABOUT -->
    <section class="about">
        <div class="about-content">
            <h3>Hi, I'm Carlos</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </section>

    <!-- PORTFOLIO -->
    <h3>Portfolio</h3>
    <section class="work">
        <div class="image-area left">
            <img src="../img/dual-screen-1745705_1280.png" alt="" />
        </div>
        <div class="text-box">
            <div class="text-box-content">
                <h3>Project 1</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="#" target="_blank" class="button">View Project</a>
            </div>
        </div>
    </section>

    <section class="work">
        <div class="image-area right">
            <img src="../img/dual-screen-1745705_1280.png" alt="" />
        </div>
        <div class="text-box">
            <div class="text-box-content">
                <h3>Project 2</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="#" target="_blank" class="button">View Project</a>
            </div>
        </div>
    </section>

</div>
<!-- CONTACT -->
<section class="contact">
    <div class="contact-content">
        <h4>Have a project in mind? Email me: <a class="email" href="#">carlosmelcon1993@gmail.com</a></h4>
    </div>
</section>

<!-- IMAGE-DIVIDER -->
<div class="image-divider">

</div>
